<div class="container-fluid wrapper-main">
  <div class="container jumbotron" *ngIf="!isLogged">
    <h5>Եթե գրանցված չեք՝ գրանցվեք որպեսզի կարողանաք հաստատել գնումները</h5>
    <div class="alert alert-success signup-btn " routerLink="/signup">
      <b>գրանցվել</b>
    </div>
    <h5>Եթե գրանցված եք մուտք գործեք</h5>
    <div class="alert alert-success signup-btn " routerLink="/login">
      <b>Մուտք</b>
    </div>
  </div>

  <div *ngIf="products" class="container product-wrapper">
    <div
      *ngFor="let product of products; let i = index"
      class="product-item col-md-3 col-sm-12"
    >
      <img src="../../../assets/images/product-image.png" alt="img" />
      <h1>{{ product.name }}</h1>
      <h2>{{ product.newPrice }}</h2>
      <p>{{ product.text }}</p>
      <ul class="my-list-group">
        <li *ngFor="let f of product.feedbacks" class="my-list-group-item">
          <strong>{{ f.userName }}</strong> {{ f.feedback }}
        </li>
      </ul>

      <div class="countity-wrapper">
        <div class="countity-input">
          <img
            src="../../../assets/images/minus-square-solid.svg"
            alt="minus-logo"
            class="plus-icon"
            (click)="countityMinus(i)"
          />
          <input
            type="text"
            [value]="product.countity"
            size="4"
            maxlength="4"
          />
          <img
            src="../../../assets/images/plus-square-regular.svg"
            alt="plyus-logo"
            class="plus-icon"
            (click)="countityAdd(i)"
          />
        </div>
      </div>
      <div class="alert alert-danger remove-btn" (click)="removeProduct(i)">
        հեռացնել
      </div>
    </div>
  </div>
  <div
    *ngIf="products && isLogged"
    class="hastatel-wrapper"
    (click)="confirmBuy()"
  >
    <span>Հաստատել</span>
  </div>
</div>
