<div
  class="d-flex flex-column flex-md-row align-items-center  px-md-12   border-bottom  container-fluid wrapper"
>
  <div class="my-0 mr-md-auto font-weight-normal logo-wrapper">
    <a routerLink="/">
      <img
        src="../../../assets/images/anime-logo.jpg"
        alt="logo"
        class="logo"
      />
    </a>
  </div>
  <nav class="my-2 my-md-0 mr-md-3 flexible">
    <app-search></app-search>
    <a class="p-2 links" routerLink="/cart">
      Զամբյուղ

      <img
        src="../../../assets/images/shopping-cart.png"
        alt="cart-logo"
        class="cart-logo"
    /></a>
  </nav>
  <a class="login_btn" routerLink="/login" (click)="fn()">{{
    !isLogged || !isTrueData ? 'Մուտք' : 'Ելք'
  }}</a>
  <a class="login_btn" routerLink="/signup">Գրանցվել</a>
</div>
