.wrapper {
  background: linear-gradient(rgb(182, 16, 94), rgb(180, 58, 64));
  width: 100%;
  padding: 10rem;
}

.form-wrapper {
  width: 500px;
  padding: 2rem;
  background: rgba(29, 28, 28, 0.24);
  box-shadow: 0px 35px 44px -22px #1f181b;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  .title-wrapper {
    padding: 10px;
    margin-top: 30px;
    h1 {
      font-family: 'Open Sans', sans-serif;
      color: white;
      font-size: 30px;
    }
  }
  select {
    width: 300px;
    height: 40px;
    margin-bottom: 1rem;
  }
  input {
    outline: none;
    font-size: 15px;
    color: #ffffff;
    padding: 15px 40px 15px 10px;
    width: 87%;
    border: none;
    border-bottom: 1px solid #eee2e5;
    margin-bottom: 20px;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    &:focus {
      background: #cea1ab;
    }
  }
  input::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
  }
  p {
    color: red;
  }
  button {
    background: #fff;
    color: #000;
    outline: none;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
    padding: 9px 38px;
    font-size: 14px;
    margin-top: 55px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    transition: 0.3s all;

    &:hover {
      background: #df5799;
      color: #ffffff;
      transition: 0.3s all;
    }
  }
}
